<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Posts</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css">
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2" style="margin-top: 10px;" >
                <div class="col-md-8">
                    <h3>My Posts</h3>
                </div>
                <div class="col-md-3 text-right" style="margin-top: 10px;">
                    <a href="/userhome" class="btn btn-danger">Back</a>
                </div>
                

                <div class="col-md-8 col-md-offset-2 text-center"><nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                      <li class="breadcrumb-item"><a href="/userhome">Home</a></li>
                      <li class="breadcrumb-item active" aria-current="page">My Posts</li>
                    </ol>
                  </nav>
                </div>
            </div>

            <hr>
            {% if posts %}

            <div class="col-md-8 col-md-offset-2">
                {% for post in posts %}
                    <div class="panel panel-default">
                        <div class="panel-heading">
                            <p>Status : 
                            {% if post['is_published'] %}
                                    <span class="label label-success">Published</span>
                                {% else %}
                                    <span class="label label-default">Unpublished</span>
                            {% endif %}
                            </p>
                            <p>Created on : {{ post.created_at.strftime('%d/%m/%Y %H:%M') }}   </p>

                            <hr>

                           <h4 style="text-align: center;"> <strong>Title : {{ post.title }}</strong></h4>
                        </div>
                        <div class="panel-body">
                            <p>{{ post.description }}</p>
                            <p><strong>Tags:</strong> {{ post.tags }}</p>
                        </div>
                        <div class="panel-footer">
                            <a href="/editpost/{{ post.post_id }}">Edit Post</a>
                            <br>

                            {% if post.is_published == 0 %}
                            <a href="/publishpost/{{ post.post_id }}" class="btn btn-success">Publish</a>
                            
                            {% else %} 
                            <a href="/unpublish/{{ post.post_id }}" class="btn btn-danger">Un-Publish</a>

                            {% endif %}


                            <a href="/deletepost/{{ post.post_id }}" class="btn btn-warning">Delete</a>
                        </div>
                    </div>
                {% endfor %}
            </div>
            {% else %}
            <div class="col-md-8 col-md-offset-2 text-center">
                <div class="alert alert-info text-center">No posts are available.</div>
            </div>

            {% endif %}
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</body>
</html>
